@using MudBlazor

<div style="margin-top: 64px;">
<MudList T="string">
    <MudListItem Link="/" Exact="true">
        <MudNavLink Href="/">
        <MudIcon Icon="@Icons.Material.Filled.Home" />
        <MudText>Home</MudText>
        </MudNavLink>
    </MudListItem>
    <MudListItem Link="/credit-reports">
        <MudNavLink Href="/credit-reports">
        <MudIcon Icon="@Icons.Material.Filled.List" />
        <MudText>Credit Reports</MudText>
        </MudNavLink>
    </MudListItem>
</MudList>
</div>

